body {
	margin: 0 auto;
	padding: 20px;
	width: 100vw;
	height: 100vh;
}

.container {
	margin: 20px auto; 
}

.row {
	margin: 0 auto;
	max-width: 600px;
}

canvas {
	background-color: grey;
	width: 100%;
	height: 100%;
}

.input-group {
	width: 100%;
}

.input-group > * {
	margin: 10px 0 10px 0;
}

.hint {
	border: none;
	color: black;
	width: 100%;
	margin: 10px 0 10px 0;
}